@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #a2d2ff;
}

header {
  padding: 2rem 6rem;
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.04);
}

header .logo {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
}

header ul {
  list-style: none;
}

header ul li a {
  margin-left: 2rem;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #fff;
  transition: color 0.3s;
}

header ul li a:hover {
  color: #4f4f4f;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

main .right-section {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

main .right-section img {
  width: 400px;
  animation: float infinite 10s;
}

main .left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 6rem;
  text-align: center;
}

main .left-section h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 2rem;
}

main .left-section .btn {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  background: #2a9d8f;
  padding: 1rem 1.5rem;
  border-radius: 16px;
  transition: all 0.2s;
}

main .left-section .btn:hover {
  transform: scale(1.05);
  opacity: 0.8;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-32px);
  }
  100% {
    transform: translateY(0);
  }
}
